*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
body{
	background-color: rgba(3,82,183, 1.0);
}
.container-box{
	width: 100%;
	position: relative;
	height: auto;
	padding-top: 50px;
}
.container-item1{
	width: 1200px;
	height: 120px;
	margin-left: 7%;
	overflow: hidden;
	position: relative;
}
.container-item1>div{
	float: left;
}
.container-item1-item1{
	width: 100px;
	height: 120px;
	background-color: rgba(142,155,251, 0.5);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	overflow: hidden;
}
.container-item1-item2{
	width: 170px;
	height: 120px;
	background-color: rgba(142,155,251, 0.5);
	/* background-color: red; */
	overflow: hidden;
}
.container-item1-item3{
	width: 300px;
	height: 120px;
	overflow: hidden;
	background-color: rgba(142,155,251, 0.5);
	padding-top: 10px;
}
.container-item1-item4{
	width: 480px;
	height: 120px;
	background-color: rgba(142,155,251, 0.5);
}
.container-item1-item6{
	width: 150px;
	height: 120px;
	background-color: rgba(142,155,251, 0.5);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.header-image{
	width: 80px;
	height: 80px;
	margin: 20px 45px 20px 0;
}
.header-image img{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 50%;
}
.container-item1-item3>div{
	height: 25px;
	width: 100%;
}
.container-item1-item3>div>div{
	float: left;
	color: #fff;
}
.container-item1-item3>div>div:first-child{
	width: 120px;
	height: 25px;
	line-height: 25px;
}
.container-item1-item3>div>div:last-child{
	width: 180px;
	height: 25px;
	line-height: 25px;
	border-right: 2px dashed #fff;
}
.container-item1-item4>div{
	float: left;
}
.real-time-data{
	width: 100%;
	height: 60px;
}
.real-time-data>div{
	float: left;
	width: 160px;
	height: 60px;
	padding-top: 15px;
	padding-left: 10px;
	position: relative;
}
.speed{
	height: 30px;
	width: 140px;
	border-radius: 15px;
	background-color: rgba(142,155,251, 0.8);
}
.speed>nav{
	float: left;
}
.speed-icon{
	position: absolute;
	top: 13px;
	left: 10px;
	width: 34px;
	height: 34px;
	background-color: rgba(142,155,251, 1);
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 34px;
}
.speed-data{
	width: 118px;
	height: 30px;
	line-height: 30px;
	margin-left: 32px;
	text-indent: 1.5em;
	color: #fff;
}
.electric-quantity{
	width: 130px;
	height: 60px;
	margin-top: 30px;
	margin-left: 10px;
	padding-top: 10px;
}
.electric-quantity-btn{
	width: 130px;
	height: 50px;
	position: relative;
	padding-top: 7px;
}
.electric-quantity-btn>nav{
	float: left;
}
.state-icon{
	width: 34px;
	height: 34px;
	background-color: rgba(142,155,251, 1);
	border-radius: 50%;
	position: absolute;
	top: 5px;
	text-align: center;
	line-height: 34px;
	color: #fff;
}
.state-data{
	width: 130px;
	height: 30px;
	background-color: rgba(142,155,251, 0.8);
	border-radius: 15px;
	text-indent: 4em;
	line-height: 30px;
	color: #fff;
}
.electric-quantity-bt>div{
	width: 130px;
	height: 30px;
	background-color: blue;
}
.container-item2{
	width: 1200px;
	height: 800px;
	margin-top: 20px;
	position: relative;
}
.container-item2>div{
	float: left;
}
.container-item2-left{
	width: 180px;
	height: auto;
}
.container-item2-right{
	width: 1000px;
	/* height: 434px; */
	margin-left: 20px;
	background-color: #F6F6F3;
	position: relative;
	height: 434px;
}
.container-item2-left-item1{
	width: 180px;
	height: 184px;
	background-color: rgba(142,155,251, 0.5);
}
.menu-header{
	width: 180px;
	height: 46px;
	padding-top: 8px;
}
.menu-header>div{
	width: 80px;
	margin-left: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: rgba(142,155,251, 0.7);
	border-radius: 10px;
	color: #fff;
}
.menu-title{
	width: 180px;
	height: 138px;
}
.menu-title li{
	width: 180px;
	height: 46px;
	line-height: 46px;
}
.menu-title li:hover{
	background-color: #0B23F6;
}
a:link,a:visited{
	color: #fff;
	text-decoration: none;
}
.menu-title li div{
	width: 180px;
	height: 46px;
	padding-left: 30px;
}
.icon{
	width: 20px;
	margin-right: 10px;
}
.container-item2-left-item2{
	width: 180px;
	height: 230px;
	margin-top: 20px;
	background-color: rgba(142,155,251, 0.5);
}
iframe.iframe1{
	width: 100%;
	height: 800px;
}
.container-item2-left-item3{
	width: 100%;
	height: 40px;
	background-color: red;
}
.container-item3{
	width: 100%;
	height: 40px;
	background-color: #6D6C6C;
	position: relative;
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}